.header-img {
  background-image: url(../images/background-plantblog.jpg);
  opacity: 0.5;
  height: 150px;
}

h1 {
  font-size: 1.3rem;
}

.category {
  font-weight: 600;
  font-style: italic;
}

.date {
  font-weight: 600;
}

.blog-container {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin: 0;
}

.blog-header {
  text-align: center;
  background-color: rgba(199, 168, 137, 0.7);
  padding: 10px;
  width: 60%;
  min-height: 170px;
  position: relative;
  top: -100px;
  z-index: 1;
}

.blog-textarea {
  padding: 150px 10% 5% 10%;
  max-width: 80%;
  background-color: #f1e9dc;
  position: relative;
  top: -240px;
}

.blog-text {
  margin-bottom: 10%;
}

.blog-img-container {
  display: flex;
  flex-wrap: wrap;
}

.blog-img-container > * {
  flex: 1 1 100%;
  padding: 2%;
}

.small-btn {
  margin-top: -180px;
}

img {
  width: 100%;
  height: auto;
  cursor: zoom-in;
}

/* img zoom */

.img-zoom {
  width: 100%;
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  padding: 5%;
  z-index: 999;
  max-width: 800px;
  cursor: pointer;
}

.zoom-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(43, 43, 43, 0.8);
  z-index: 800;
  cursor: zoom-out;
}

/* .zoom-img {
  text-align: center;
  position: relative;
  margin: 0;
  top: 70%;
  transform: translateY(-50%);
  z-index: 999;
} */

/* .zoom-img img {
  width: 150%;
  height: auto;
  max-width: 1000px;
  position: relative;
  top
  z-index: 1000;
} */

@media only screen and (min-width: 650px) and (max-width: 800px) {
  .header-img {
    height: 190px;
  }

  h1 {
    font-size: 1.5rem;
  }
  .blog-textarea {
    padding: 140px 10% 5% 10%;
    top: -220px;
  }

  .img-zoom {
    width: 90%;
    top: 10%;
    left: 5%;
  }
}

@media only screen and (min-width: 801px) and (max-width: 999px) {
  .header-img {
    height: 190px;
  }
  h1 {
    font-size: 1.7rem;
  }
  .blog-header {
    padding: 20px;
    width: 50%;
  }

  .blog-textarea {
    padding: 160px 10% 5% 10%;
    top: -260px;
  }

  .img-zoom {
    top: 0;
    width: 80%;
    top: 3%;
    left: 10%;
  }
}

@media only screen and (min-width: 1000px) {
  .header-img {
    height: 190px;
  }

  h1 {
    font-size: 2rem;
  }
  .blog-textarea {
    top: -240px;
  }

  .blog-img-container > * {
    flex: 1 1 50%;
    padding: 2%;
  }

  .img-zoom {
    width: 50%;
    position: fixed;
    top: 5%;
    left: 25%;
    padding: 0;
  }
}
