main {
  min-height: 100vh;
}

.header-img img {
  opacity: 0.5;
  width: 100%;
  height: 170px;
}

h1 {
  font-size: 1.3rem;
}

.date {
  font-weight: 600;
}

.blog-container {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin: 0;
}

.blog-header {
  text-align: center;
  background-color: rgba(199, 168, 137, 0.7);
  padding: 10px;
  width: 60%;
  min-height: 150px;
  position: relative;
  top: -70px;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
  display: none;
}

.blog-text-img {
  padding: 130px 0 0 0;
  max-width: 80%;
  background-color: #f1e9dc;
  position: relative;
  top: -190px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog-text figure {
  display: none;
}

.blog-img-container h2 {
  display: none;
}

.blog-img-container h3 {
  display: none;
}

.blog-img-container p {
  display: none;
}

.blog-text {
  padding: 0 10% 5% 10%;
}

.blog-img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 10%;
  grid-gap: 25px;
  margin: 2% 3% 5% 3%;
}

.small-btn {
  margin-top: -170px;
}

/* Breadcrumb navigation */

.breadcrumb-nav {
  display: flex;
  justify-content: center;
  justify-items: center;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 650px) and (max-width: 800px) {
  .header-img img {
    opacity: 0.5;
    width: 100%;
    height: auto;
  }
  .header-img {
    height: 180px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .blog-header {
    top: -50px;
  }
  .blog-text-img {
    padding: 110px 0 0 0;
    top: -150px;
  }

  .blog-img {
    margin: 2% 10% 5% 10%;
  }

  /* Breadcrumb navigation */

  .breadcrumb-nav {
    top: 90px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 999px) {
  .header-img img {
    opacity: 0.5;
    width: 100%;
    height: auto;
  }

  .header-img {
    height: 190px;
  }

  h1 {
    font-size: 1.7rem;
  }
  .blog-header {
    padding: 20px;
    width: 50%;
  }

  .blog-text-img {
    padding: 110px 0 0 0;
    top: -170px;
  }

  .blog-img {
    margin: 2% 5% 5% 5%;
  }

  /* Breadcrumb navigation */

  .breadcrumb-nav {
    top: 200px;
    left: 0;
    transform: translateX(-0%);
    z-index: 3;
  }
}

@media only screen and (min-width: 1000px) {
  .header-img img {
    opacity: 0.5;
    width: 100%;
    height: auto;
  }
  .header-img {
    height: 190px;
  }

  h1 {
    font-size: 2rem;
  }

  .blog-text-img {
    padding: 140px 0 0 0;
    top: -190px;
    max-width: 65%;
  }

  .blog-header {
    width: 40%;
    height: 200px;
  }

  .blog-text {
    padding: 0 15% 5% 15%;
  }
  /* Breadcrumb navigation */

  .breadcrumb-nav {
    top: 200px;
    left: 3%;
    transform: translateX(-0%);
    z-index: 3;
  }
}
