main {
  min-height: 100vh;
}

.header-img {
  background-image: url(../images/background/background-blog-small.jpg);
  height: 150px;
}

h1 {
  margin-top: 50px;
}

h2 {
  color: #f9f4f0;
  font-size: 1.3rem;
}

p {
  color: #f9f4f0;
  font-size: 1rem;
  font-weight: 600;
}

.blogPost-container {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.7s ease-out;
}

.post-img:hover {
  transform: scale(1.05);
}

figure {
  max-width: 400px;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.blogPost-card {
  position: relative;
}

.post-info {
  background-color: rgba(43, 43, 43, 0.7);
  position: absolute;
  width: 100%;
  max-width: 400px;
  height: 70%;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
}

.post-info:hover {
  background-color: rgba(43, 43, 43, 0.9);
  transition: all ease 0.4s;
}

.more-button {
  display: none;
}

@media only screen and (min-width: 550px) and (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 950px) {
  .header-img {
    height: 200px;
    background-image: url(../images/background/background-blog.jpg);
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.1rem;
  }

  .post-img {
    max-width: 450px;
  }
  .post-info {
    max-width: 450px;
  }
}

@media only screen and (min-width: 951px) and (max-width: 1149px) {
  .header-img {
    height: 200px;
    background-image: url(../images/background/background-blog.jpg);
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
  }

  .post-img {
    max-width: 350px;
  }
  .post-info {
    max-width: 350px;
  }
}

@media only screen and (min-width: 1150px) and (max-width: 1450px) {
  .header-img {
    height: 200px;
    background-image: url(../images/background/background-blog.jpg);
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
  }

  .post-img {
    max-width: 400px;
  }
  .post-info {
    max-width: 400px;
  }
}

@media only screen and (min-width: 1451px) {
  .header-img {
    height: 250px;
    background-image: url(../images/background/blog-background.jpg);
  }

  h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.3rem;
  }

  .post-img {
    max-width: 500px;
  }
  .post-info {
    max-width: 500px;
  }
}
