/*Colours*/

/*  light beige: #F9F4F0   */
/*  beige: #F1E9DC  */
/*  brown: #C7A889   */
/*  dark grey: #2B2B2B  */
/*  green: #1C3D32*/

/*Fonts*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Poppins', sans-serif; */

/*Border box fix*/

html {
  overflow-x: auto;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

body {
  background-color: #f9f4f0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: #2b2b2b;
}

/*Header styles*/

header {
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logoMenu-Container {
  height: 60px;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

.scrollHeader {
  background-color: rgba(240, 232, 219, 0.8);
}

.logo {
  width: 90px;
  height: auto;
  cursor: pointer;
  position: fixed;
  top: 13px;
  left: 15px;
  z-index: 100;
}

.social-navbar {
  position: fixed;
  top: 10px;
  right: 15px;
  display: none;
}

.header-icon {
  font-size: 30px;
  color: #2b2b2b;
  margin: 7px;
  cursor: pointer;
}

/* Hamburger-menu */

.hamburger-menu {
  width: 33px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 100;
}

.line {
  width: 100%;
  height: 3.5px;
  background-color: #2b2b2b;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

.change .line-1 {
  transform: rotateZ(-45deg) translate(-8px, 6px);
  background-color: #f9f4f0;
}

.change .line-3 {
  transform: rotateZ(45deg) translate(-8px, -6px);
  background-color: #f9f4f0;
}

.change .line-2 {
  opacity: 0;
}

/* Nav */

.nav {
  padding: 110px 20px;
  display: block;
  background-color: #2b2b2b;
  min-height: 100vh;
  width: 60%;
  margin: 0;
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.5s;
}

.change .nav {
  right: 0;
}

li {
  min-height: 10vh;
  display: block;
  padding: 45px 40px;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3rem;
  color: #f9f4f0;
  margin-left: 20px;
  letter-spacing: 1.5px;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
nav a:hover {
  color: rgba(249, 244, 240, 0.7);
}

.active {
  font-weight: 800;
  font-size: 1.4rem;
}

/* main */

/* components */

h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2;
  font-weight: 700;
}

p {
  font-size: 0.9rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #2b2b2b;
  cursor: pointer;
}

.button {
  padding: 8px 10px;
  background-color: #1c3d32;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  color: #f9f4f0;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

.button:hover {
  background-color: #f9f4f0;
  color: #1c3d32;
}

.small-btn {
  display: flex;
  justify-content: center;
  margin: 5% 0 10% 0;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.small-btn:hover {
  opacity: 0.6;
}

.smallbtn-square {
  width: 0.5rem;
  height: 1.2rem;
  background-color: #1c3d32;
}

.smallbtn-text {
  font-size: 1rem;
  font-weight: 600;
  margin: -2px 0 0 3px;
}

.center {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.header-img {
  max-width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-img h1 {
  margin-top: 50px;
}

/* Breadcrumb navigation */

.breadcrumb-nav {
  display: flex;
  justify-content: center;
  justify-items: center;
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.breadcrumb-nav ul {
  display: flex;
  justify-content: center;
  justify-items: center;

  width: 300px;
  height: 30px;
  padding: 0;
  margin: 0;
}

.breadcrumb-nav li {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  min-height: 0;
}

.current-post {
  text-decoration: underline;
}

.breadcrumb-nav a:hover {
  color: rgba(43, 43, 43, 0.6);
}

/* modal */

.modal-image {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  cursor: zoom-in;
}

.modal-image:hover {
  transform: scale(1.1);
}
figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}

.modal {
  position: fixed;
  z-index: 1001;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 43, 43, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10%;
  cursor: pointer;
}

.modalImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
  transition: none;
  cursor: initial;
}

/* Contact form */

.error-message {
  display: none;
  color: rgb(168, 11, 11);
  font-weight: 500;
  font-size: 0.8rem;
  margin-top: 3px;
}

#validation {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.message {
  text-align: center;
  background: rgba(28, 61, 50, 0.8);
  border: 3px solid rgba(28, 61, 50);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
  padding: 5rem 3rem;
  width: 500px;
  min-width: 200px;
  color: #f1e9dc;
}

.message .first-line {
  font-size: 1.1rem;
  font-weight: 600;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  border-radius: 0;
}

/* Error and loader: */

.error-message-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.error {
  border: 2px solid black;
  padding: 3rem 4rem;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  background: rgb(197, 52, 52);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}

.loader-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.loader {
  display: flex;
  justify-content: center;
}

.loader:after {
  content: "";
  width: 80px;
  height: 80px;
  border: 8px solid hsla(0, 0%, 17%, 0.2);
  border-top: 8px solid #2b2b2b;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

/* footer */

footer {
  text-align: center;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  padding: 30px 0 10px 0;
}

.footer-p {
  color: #f9f4f0;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
}

.footer-icon {
  font-size: 30px;
  color: #f9f4f0;
  margin: 7px;
  cursor: pointer;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.footer-icon:hover {
  color: rgba(249, 244, 240, 0.6);
}

.contact-btn {
  width: 350px;
  font-size: 0.7rem;
  font-weight: 500;
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  /*Header styles*/

  header {
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .logoMenu-Container {
    height: 70px;
  }

  .logo {
    width: 100px;
    top: 15px;
    left: 20px;
  }

  .social-navbar {
    position: fixed;
    top: 13px;
    right: 20px;
    display: block;
  }

  .header-icon {
    font-size: 30px;
    color: #2b2b2b;
    margin: 7px;
    cursor: pointer;
  }

  .header-icon:hover {
    color: rgba(43, 43, 43, 0.7);
  }

  /* Hamburger-menu */

  .hamburger-menu {
    display: none;
  }

  /* Nav */

  .nav {
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: transparent;
    min-height: 0;
    width: 100%;
    margin: 0;
    top: 25px;
    right: 0;
    transition: none;
  }

  li {
    min-height: 0;
    padding: 0;
    margin-left: 5%;
  }

  nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25rem;
    color: #2b2b2b;
    margin-left: 0;
    letter-spacing: 0;
  }
  nav a:hover {
    color: rgba(43, 43, 43, 0.7);
  }

  .active {
    font-weight: 700;
  }

  /* main */

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .button {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .smallbtn-square {
    width: 0.6rem;
    height: 1.5rem;
  }

  .smallbtn-text {
    font-size: 1.2rem;
    margin: -1px 0 0 3px;
  }

  .header-img h1 {
    margin-top: 100px;
  }

  /* Breadcrumb navigation */

  .breadcrumb-nav {
    top: 200px;
    left: 0;
    transform: translateX(-0%);
  }
  .breadcrumb-nav li {
    padding: 7px;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
  /*Header styles*/

  header {
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .logoMenu-Container {
    height: 70px;
  }

  .logo {
    width: 100px;
    top: 15px;
    left: 20px;
  }

  .social-navbar {
    position: fixed;
    top: 13px;
    right: 20px;
    display: block;
  }

  .header-icon {
    font-size: 30px;
    color: #2b2b2b;
    margin: 7px;
    cursor: pointer;
  }

  .header-icon:hover {
    color: rgba(43, 43, 43, 0.7);
  }

  /* Hamburger-menu */

  .hamburger-menu {
    display: none;
  }

  /* Nav */

  .nav {
    padding: 0 0 0 5%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    min-height: 0;
    width: 100%;
    margin: 0;
    top: 24.6px;
    right: 0;
    transition: none;
  }

  li {
    min-height: 0;
    padding: 0;
    margin-left: 7%;
  }

  nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    color: #2b2b2b;
    margin-left: 0;
    letter-spacing: 0;
  }
  nav a:hover {
    color: rgba(43, 43, 43, 0.7);
  }

  .active {
    font-weight: 700;
  }

  /* main */

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .button {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .smallbtn-square {
    width: 0.6rem;
    height: 1.5rem;
  }

  .smallbtn-text {
    font-size: 1.2rem;
    margin: -1px 0 0 3px;
  }

  .header-img h1 {
    margin-top: 100px;
  }

  /* Breadcrumb navigation */

  .breadcrumb-nav {
    top: 200px;
    left: 0;
    transform: translateX(-0%);
  }

  .breadcrumb-nav ul {
    width: 300px;
  }

  .breadcrumb-nav li {
    padding: 7px;
    font-size: 1.2rem;
  }

  /* Error */
  .error {
    font-size: 1.5rem;
    padding: 3rem 6rem;
  }

  /* Contact form */

  .error-message {
    font-size: 1rem;
  }

  .message .first-line {
    font-size: 1.3rem;
  }

  .message .second-line {
    font-size: 1.1rem;
  }

  /* Error */
  .error {
    font-size: 1.5rem;
    padding: 3rem 6rem;
  }
}

@media only screen and (min-width: 1200px) {
  /*Header styles*/

  header {
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .logoMenu-Container {
    height: 70px;
  }

  .logo {
    width: 110px;
    top: 13px;
    left: 40px;
  }

  .social-navbar {
    position: fixed;
    top: 13px;
    right: 40px;
    display: block;
  }

  .header-icon {
    font-size: 30px;
    color: #2b2b2b;
    margin: 7px;
    cursor: pointer;
  }

  .header-icon:hover {
    color: rgba(43, 43, 43, 0.7);
  }

  /* Hamburger-menu */

  .hamburger-menu {
    display: none;
  }

  /* Nav */

  .nav {
    padding: 0 0 0 15%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    min-height: 0;
    width: 100%;
    margin: 0;
    top: 23.75px;
    right: 0;
    transition: none;
  }

  li {
    min-height: 0;
    padding: 0;
    margin-left: 7%;
  }

  nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    color: #2b2b2b;
    margin-left: 0;
    letter-spacing: 0;
  }
  nav a:hover {
    color: rgba(43, 43, 43, 0.7);
  }

  .active {
    font-weight: 700;
  }

  /* main */

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .button {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .smallbtn-square {
    width: 0.6rem;
    height: 1.5rem;
  }

  .smallbtn-text {
    font-size: 1.2rem;
    margin: -1px 0 0 3px;
  }

  .header-img h1 {
    margin-top: 100px;
  }
  /* Breadcrumb navigation */

  .breadcrumb-nav {
    top: 200px;
    left: 0;
    transform: translateX(-0%);
  }

  .breadcrumb-nav ul {
    width: 300px;
  }

  .breadcrumb-nav li {
    padding: 7px;
    font-size: 1.2rem;
  }

  /* Contact form */

  /* Error */
  .error {
    font-size: 1.5rem;
    padding: 3rem 6rem;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* Nav */
/* Hamburger-menu */

.hamburger-menu {
  display: none;
}

/* Nav */

.nav {
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
  min-height: 0;
  width: 100%;
  margin: 0;
  top: 25px;
  right: 0;
  transition: none;
}

li {
  min-height: 0;
  padding: 0;
  margin-left: 5%;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
  color: #2b2b2b;
  margin-left: 0;
  letter-spacing: 0;
}
nav a:hover {
  color: rgba(43, 43, 43, 0.7);
}

.active {
  font-weight: 700;
}
  }
}
