/* main */

main {
  background-color: #f1e9dc;
}

.background-img {
  background-image: url(../images/background/index-background-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  padding: 100px;
  margin: 0;
  height: 430px;
  position: relative;
}

.about-index {
  background-color: rgba(241, 233, 220, 0.7);
  max-width: 350px;
  min-width: 200px;
  height: auto;
  padding: 10px 30px 40px 40px;
  position: absolute;
  right: 10%;
  top: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-index div {
  margin-top: 25px;
}

.more-link {
  text-decoration: underline;
  color: #1c3d32;
  font-weight: 600;
}

.more-link:hover {
  opacity: 0.6;
  transition: all ease 0.5s;
}

h1 {
  font-size: 1.3rem;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
}

/* carousel */

.carousel-section {
  margin: 10% auto;
}

.carousel-container {
  width: 350px;
  height: auto;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}

.carousel-wrap {
  overflow-x: hidden;
}

.carousel-slider {
  display: flex;
  height: 100%;
  width: 800%;
}

.blogPost-card {
  width: 350px;
  height: auto;
  margin: 0;
  flex-basis: 100%;
  overflow: hidden;
  position: relative;
}

.blogPost-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

.blogPost-card img:hover {
  transform: scale(1.05);
}

.post-info {
  background-color: rgba(43, 43, 43, 0.7);
  position: absolute;
  width: 100%;
  max-width: 650px;
  height: 70%;
  bottom: 0;
  left: 0;
  padding: 15px;
  text-align: center;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

.post-info h2 {
  color: #f1e9dc;
  font-size: 1.1;
}
.post-info p {
  color: #f1e9dc;
  font-size: 0.9;
  font-weight: 600;
}

.post-info:hover {
  background-color: rgba(43, 43, 43, 0.9);
}

.arrow-container {
  display: none;
}

.arrow-container .arrow {
  color: #2b2b2b;
  position: absolute;
  bottom: 50%;
  height: 100%;
  transform: translateY(50%);
  cursor: pointer;
  font-size: 40px;
  z-index: 10;
  border: none;

  background-color: rgba(241, 233, 220, 0.5);

  border-radius: 2px;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-container .arrow:hover {
  background-color: rgba(241, 233, 220, 0.8);
}

.arrow.left-btn {
  left: 0px;
}

.arrow.right-btn {
  right: 0px;
}

/* quote */

.quote {
  background-image: url(../images/background/concrete-background-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 180px;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-sentence {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.quote-icon {
  font-size: 12px;
}

.quotee {
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
}

/* categories */

.categories {
  margin: 5% 0;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-card {
  max-width: 300px;
  position: relative;
  margin-top: 7%;
  margin: 20px;
}

.category-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.7s ease-out;
}

.category-img:hover {
  transform: scale(1.05);
}

.category-info {
  background-color: rgba(43, 43, 43, 0.7);
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.category-info:hover {
  background-color: rgba(43, 43, 43, 0.95);
  transition: all ease 0.4s;
}

h4 {
  color: #c7a889;
  font-size: 1.3rem;
}

/* instagram */

.insta-link:hover {
  color: rgba(43, 43, 43, 0.6);
  transition: all ease 0.4s;
}

.instagram {
  background-color: #f9f4f0;
  padding: 5% 10%;
}

.insta-collage {
  display: flex;
  flex-wrap: wrap;
}

.insta-post {
  margin: 2%;
  flex: 1 21.33%;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}

.insta-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: initial;
}

@media only screen and (min-width: 550px) and (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.7rem;
    text-align: center;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  .about-index {
    max-width: 450px;
  }

  /* carousel */

  .carousel-container {
    width: 450px;
  }

  .blogPost-card {
    width: 450px;
  }

  .arrow.left-btn {
    left: -40px;
  }

  .arrow.right-btn {
    right: -40px;
  }

  .arrow-container .arrow {
    font-size: 50px;
  }

  .arrow-container .arrow:hover {
    opacity: 0.6;
  }

  /* quote */

  .quote {
    height: 250px;

    padding: 50px;
  }
  .quote-sentence {
    font-size: 1.5rem;
  }

  .quote-icon {
    font-size: 15px;
  }

  .quotee {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 801px) {
  .background-img {
    background-image: url(../images/background/index-background-web1.jpg);
    height: 550px;
  }
  .about-index {
    max-width: 40%;
    right: 25%;
  }

  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 2rem;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  /* carousel */

  .carousel-section {
    margin: 5% auto;
  }

  .carousel-container {
    width: 650px;
  }

  .blogPost-card {
    width: 650px;
  }
  .post-info {
    height: 50%;
  }

  .arrow.left-btn {
    left: -50px;
  }

  .arrow.right-btn {
    right: -50px;
  }

  .arrow-container .arrow {
    font-size: 50px;
  }
  .arrow-container .arrow:hover {
    opacity: 0.6;
  }

  /* quote */
  .quote {
    background-image: url(../images/background/concrete-background-webjpg.jpg);
    height: 300px;
  }
  .quote-sentence {
    font-size: 1.7rem;
  }

  .quote-icon {
    font-size: 15px;
  }

  .quotee {
    font-size: 1.2rem;
  }
}
